tsconfig-webpack.tsbuildinfo
node_modules
build
lerna-debug.log

# Based on https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
