@import '../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap';
.affix {
	margin-top: -60px;
}
.doc {
	margin: 10px;
}

/* Sidebar stuff*/
.bs-docs-sidebar .nav>li>a {
	color: #999;
	padding-top: 4px;
	padding-bottom: 4px;
}

.bs-docs-sidebar .nav>.active>a, .bs-docs-sidebar .nav>.active:hover>a,
	.bs-docs-sidebar .nav>.active:focus>a {
	font-weight: 700;
	color: #ce4646;
	border-left: 2px solid #ce4646;
}

.bs-docs-sidebar .nav .nav>li>a {
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 30px;
}

.CodeMirror-fullscreen {
	z-index: 2000;/*make sure the fullscreen positions over the twitter bootstrap page header*/
}

.gistIcon {
	margin-left: 10px;
	width: 18px;
	height:18px;
}
#gists, #gistsUl {
	display:none;
}
