$controlbarPadding: 5px;
.controlbar {
/* 	overflow-x: hidden; */
	position:relative;
	left: 0;
    -webkit-transition: all $menuSpeed;
    -moz-transition: all $menuSpeed;
    -ms-transition: all $menuSpeed;
    -o-transition: all $menuSpeed;
    transition: all $menuSpeed;
    padding: $controlbarPadding;
    padding-bottom: 0px;
	border-left: 1px solid $nav-tabs-border-color;
	.endpointText {
		width: 400px;
		.endpointOptionRow {
			&:hover {
				background-color: #e6e6e6;
			}
			.close{
				 display:table-cell;
				 vertical-align:middle;
			 }
			vertical-align: middle;

			.endpointUrl {
				font-weight: bold;
				font-size: 0.9;
				width: 95%;
				/* Warning: Needed for oldIE support, but words are broken up letter-by-letter */
				-ms-word-break: break-all;
				    word-break: break-all;

				    /* Non standard for webkit */
				     word-break: break-word;

				-webkit-hyphens: auto;
				   -moz-hyphens: auto;
				    -ms-hyphens: auto;
				        hyphens: auto;
			}
			.endpointTitle {
				font-size: 12px;
				opacity: 0.5;
			}
		}
	}
	& > * {
		vertical-align: top;
		margin-right: $controlbarPadding;
		display:inline-block;
	}

	.menuButton {
		display: inline-block;
	  	vertical-align:middle;
	  	padding-left: 10px;
	  	padding-right: 10px;
	  	margin-bottom: 5px;
	  	height: 34px;
	  	&:focus {
	  		outline: none;
	  		background-color: transparent;
	  		border-color:$btn-default-border;
	  	}
		.icon-bar {
		  margin-bottom:3px;
		  display: block;
		  width: 20px;
		  height: 3px;
		  background-color: $gray-light;
		  border-radius: 1px;
		}
	}
}

.menu-open {
	.controlbar {
		border-left: 0;
		left: $menuWidth;
		width: calc(100% - 600px);
	}
}
