//We want this FIXED. Right now, we include the bundled css files, as the css import does not recursively fetch css files...
//(i.e., we cant use the import statement on yasr/yasqe scss files)

// @import "../../node_modules/yasgui-yasqe/dist/yasqe.css";
// @import "../../node_modules/yasgui-yasr/dist/yasr.css";

@import "../../node_modules/yasgui-yasqe/src/scss/global.scss";
@import "../../node_modules/yasgui-yasr/src/scss/global.scss";
div.modal-dialog.google-visualization-charteditor-dialog{
	z-index: 100;
}

.CodeMirror-hints {
	z-index: 100;
}
