$menuSpeed: 0.5s;
$menuWidth: 600px;

.menu-slide {
	position: absolute;
	border: 1px solid $nav-tabs-border-color;
	border-top: 0;
	top: 0;
	left: 0;
	z-index: 100;
	visibility: hidden;
	width: $menuWidth;
	height: auto;
	background: $well-bg;
	-webkit-transition: all $menuSpeed;
	transition: all $menuSpeed;
	
	-webkit-perspective: 1500px;
	perspective: 1500px;
	-webkit-perspective-origin: 0% 50%;
	perspective-origin: 0% 50%;
	
	-webkit-transform: translate3d(-100%, 0, 0) rotateY(90deg);
	transform: translate3d(-100%, 0, 0) rotateY(90deg);
	-webkit-transform-origin: 100% 50%;
	transform-origin: 100% 50%;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;

	.yasguiLogo {
		cursor: pointer;
		float:right;
		margin:5px;
		height: 100px;
		width: 100px;
	}

	&::after {
		display: none;
	}
	.tabPaneMenuTabs {
		margin: 10px;
	}
	.tab-pane {
		margin: 10px;
	}
	.logo {

		margin-left:auto; margin-right:0;
	}
	
	
	
	
	.requestConfig {
		.reqRow > div {
			display:inline-block;
		}
		.acceptHeader {
			width: 150px;
		}
		.option:hover {
			/**a selectize dropdown option*/
			background-color: #e6e6e6;
		}
		.item, .option {
			/**a selectize dropdown option/item*/
			font-weight: normal;
		}
		.textInputsRow:first-child .close {
			display:none;
		}
		.close {
			font-size: 18px;
		}
		.textInputsRow * {
			margin: 5px 3px 0 0;
		}
		label {
			font-size: 80%;
		}
		.rowLabel {
			font-weight: bold;
			width: 30%;
		}
		
		[class*="col-"] {
		    float: none;
		    display: table-cell;
		    vertical-align: middle;
		    padding: 5px;
		}
	}
}

/**Disable webkit perspective for now (disappointing, because it improves the transition a lot..)
This perspective messes up the full screen capabilities of YASR/YASQE, and positioning of e.g. selectboxes
**/
.tab-pane {
/* 	-webkit-perspective: 1500px; */
/* 	perspective: 1500px; */
/* 	-webkit-perspective-origin: 0% 50%; */
/* 	perspective-origin: 0% 50%; */
}


.wrapper {
	position: relative;
	left: 0;
	z-index: 99;
	height: 100%;
	-webkit-transition: -webkit-transform $menuSpeed;
	transition: transform $menuSpeed;
}

.menu-open {
	.menu-slide {
		left: $menuWidth;
		visibility: visible;
		-webkit-transition: all $menuSpeed;
	    -moz-transition: all $menuSpeed;
	    -ms-transition: all $menuSpeed;
	    -o-transition: all $menuSpeed;
	    transition: all $menuSpeed;
	    
	    
		-webkit-transform: translate3d(-100%, 0, 0) rotateY(0deg);
		transform: translate3d(-100%, 0, 0) rotateY(0deg);
	}
}


