
.nav-tabs {

	li.tab-sortable-highlight {
		border: 3px dashed #ddd;
		border-bottom: 0;
	}
	li {
		a[role="addTab"] {
			padding: 0px;
			margin: 4px 0px;
			cursor:pointer;
			font-weight: bold;
			font-size: 21px;
			background-color: transparent;
			border-color: transparent;
		}
		.close {
			margin-left: 7px;
			font-size: 17px;
		}

		a {
			//add a little more space for the loader icon
			padding-left: 20px;
		}
		&.querying .loader {
			display:inline-block;
		}
		.loader {
			padding: 0px;
			margin: 1px 1px 1px 2px;
			@include spinner(15px, 15px);
			position: absolute;
    		left: 0;
			display: none;
		}
	}
	li {
		a {
			display: inline-block;
		}
		div {
			color: #555555;
			background-color: #fff;
			border: 1px solid #ddd;
			border-bottom-color: transparent;
			cursor: default;
			padding: 10px 15px;
			display: none;
		}
	}
	li.rename {
		a {
			display: none;
		}
		div {
			display: inline-block;
		}
	}
}
.tabDropDown {
	position:absolute;
}
