.consentWindow {
	div {
		text-align: center;
	}
	.consentMsg {
		margin-bottom: 8px;
	}
	position:absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 800px;
	background: $well-bg;
	z-index: 100;
	border: 1px solid $nav-tabs-border-color;
	padding: 10px;
	border-radius: 4px;
	
	button {
		.svgImg {
			display:inline-block;
			height: 10px;
			width: 10px;
		}
		height: 54px;
		margin-right: 10px;
		&:last {
			margin-right: 0;
		}
	}
	
}

