.yasqe {
	.CodeMirror {
		border-color: $nav-tabs-border-color;
		&.ui-resizable {
			border-bottom-width: 4px;
			border-bottom-color: #B6B6B6;
			.ui-resizable-s {
				cursor: ns-resize;
			}
		}
	}
}