.yasqe {
	@import "../../node_modules/yasgui-yasqe/src/scss/cssIncludes/fullscreen";
	@import "../../node_modules/yasgui-yasqe/src/scss/buttons.scss";
	@import "../../node_modules/yasgui-yasqe/src/scss/codemirrorMods.scss";
	@import "../../node_modules/yasgui-yasqe/src/scss/yasqe.scss";

	.CodeMirror {
		border-color: $nav-tabs-border-color;
		&.ui-resizable {
			border-bottom-width: 5px;
			border-bottom-color: #B6B6B6;
			.ui-resizable-s {
				cursor: ns-resize;
			}
		}
	}
}
