.yasr {
	@import "../../node_modules/yasgui-yasr/src/scss/yasr.scss";
	.CodeMirror {
		border-color: $nav-tabs-border-color;
	}
	.leaflet-marker-icon.leaflet-div-icon {
		background-color:transparent;
		border:0;
	}
}
